name: Reusable workflow for Shopware setup

on:
    workflow_call:
        inputs:
            mysql-version:
                required: true
                type: string
            shopware-version:
                required: true
                type: string
            php-version:
                required: true
                type: string
            consent-manager:
                required: false
                type: string
                default: "none"

jobs:
    setup-shopware:
        name: Setup Shopware ${{ inputs.shopware-version }}
        runs-on: ubuntu-latest
        env:
            MYSQL_VERSION: ${{ inputs.mysql-version }}
            SHOPWARE_VERSION: ${{ inputs.shopware-version }}
            PHP_VERSION: ${{ inputs.php-version }}
            CONSENT_MANAGER: ${{ inputs.consent-manager }}
        steps:
            -   uses: actions/checkout@v4
            -   uses: actions/setup-node@v3
                with:
                    node-version: current

            -   name: Login to GitHub Container Registry
                uses: docker/login-action@v3
                with:
                    registry: ghcr.io
                    username: ${{ github.actor }}
                    password: ${{ github.token }}

            -   name: Install dependencies
                run: npm install

            -   name: Create base image
                run: make running:shopware_${{ env.SHOPWARE_VERSION }}_${{ env.MYSQL_VERSION }}_${{ env.PHP_VERSION }}

            -   name: Push base image
                if: ${{ github.ref == 'refs/heads/main' }}
                run: docker push ghcr.io/shopware5/docker-images-testing/running:shopware_${{ env.SHOPWARE_VERSION }}_${{ env.MYSQL_VERSION }}_${{ env.PHP_VERSION }}

            -   name: Create allInOne Image
                run: make install:shopware_${{ env.SHOPWARE_VERSION }}_${{ env.MYSQL_VERSION }}_${{ env.PHP_VERSION }}_${{ env.CONSENT_MANAGER }}

            -   name: Test allInOne Image
                run: make test:shopware_${{ env.SHOPWARE_VERSION }}_${{ env.MYSQL_VERSION }}_${{ env.PHP_VERSION }}_${{ env.CONSENT_MANAGER }}

            -   name: Push allInOne Image
                if: ${{ github.ref == 'refs/heads/main' }}
                run: docker push ghcr.io/shopware5/docker-images-testing/install:shopware_${{ env.SHOPWARE_VERSION }}_${{ env.MYSQL_VERSION }}_${{ env.PHP_VERSION }}_${{ env.CONSENT_MANAGER }}

