name: Setup older Shopware Version

on:
    workflow_dispatch:

jobs:
    setup-shopware:
        name: Setup old Shopware

        strategy:
            matrix:
                versions:
                    -   shopware: '5.2'
                        php: '5.6'
                        mysql: '5.7'
                        consentManager: '5.2.11-5.2.27'

                    -   shopware: '5.3'
                        php: '5.6'
                        mysql: '5.7'
                        consentManager: '5.3.5-5.3.7'

                    -   shopware: '5.4'
                        php: '5.6'
                        mysql: '5.7'
                        consentManager: '5.4.6'

                    -   shopware: '5.5'
                        php: '7.1'
                        mysql: '5.7'
                        consentManager: '5.5.0-5.5.10'

                    -   shopware: '5.6'
                        php: '7.2'
                        mysql: '5.7'
                        consentManager: 'none'

        uses: ./.github/workflows/setup-workflow.yml
        with:
           mysql-version: ${{ matrix.versions.mysql }}
           shopware-version: ${{ matrix.versions.shopware }}
           php-version: ${{ matrix.versions.php }}
           consent-manager: ${{ matrix.versions.consentManager }}
