name: Setup current Shopware Version

on:
    schedule:
        - cron:
              '0 0 * * *'
    push:
        branches:
            - main
jobs:
    setup-shopware:
        concurrency:
            group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
            cancel-in-progress: true

        name: Setup current Shopware

        strategy:
            matrix:
                versions:
                    -   shopware: '5.7'
                        php: '7.4'
                        mysql: '8.0'
                        consentManager: 'none'

                    -   shopware: '5.7'
                        php: '8.0'
                        mysql: '8.0'
                        consentManager: 'none'

                    -   shopware: '5.7'
                        php: '8.1'
                        mysql: '8.0'
                        consentManager: 'none'

                    -   shopware: '5.7'
                        php: '8.2'
                        mysql: '8.0'
                        consentManager: 'none'

                    -   shopware: 'v5.7.4'
                        php: '8.0'
                        mysql: '8.0'
                        consentManager: 'none'

        uses: ./.github/workflows/setup-workflow.yml
        with:
            mysql-version: ${{ matrix.versions.mysql }}
            shopware-version: ${{ matrix.versions.shopware }}
            php-version: ${{ matrix.versions.php }}
            consent-manager: ${{ matrix.versions.consentManager }}
